.cart-container {
  background-color: #fffdf6;
  padding: 2rem;
  font-family: 'Georgia', serif;
  color: #4b3b2a;
}

.cart-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cart-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.cart-list li {
  background-color: #fff6e5;
  border: 1px solid #d3c0a6;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-list button {
  background-color: #a67c52;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;

}

.cart-list button:hover {
  background-color: #8b5e3c;
}

.total-section {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #f3e7d5;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #d3c0a6;
}
.cart-actions {
  margin-top: 20px;
  text-align: center;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #a1887f;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s;
}

.checkout-button:hover {
  background-color: #6d4c41;
}
